body{
    background-color: black;
}

h2{
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 45px;
    margin-bottom: 200px;
}

li{
    color: white;
    font-family: sans-serif;
    font-size: 30px;
    margin-left: 50px;
}

div.main{
    margin-left: 40px;
}

p.titre{
    color: white;
    font-family: sans-serif;
    font-size: 50px;
}