<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Que mettre dans mon sac ?</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h2>📚 Que mettre dans son sac demain ?</h2>
    <ul>
        <% for (var i = 0; i < affaires.length; i++) { %>
            <li> <%= affaires[i] %> </li>
        <% } %>
    </ul>
</body>
</html>